$base-color-red: hsl(14, 86%, 42%);
$base-color-green: hsl(159, 69%, 38%);
$base-color-rose-50: hsl(20, 50%, 98%);
$base-color-rose-100: hsl(13, 31%, 94%);
$base-color-rose-300: hsl(14, 25%, 72%);
$base-color-rose-400: hsl(7, 20%, 60%);
$base-color-rose-500: hsl(12, 20%, 44%);
$base-color-rose-900: hsl(14, 65%, 9%);

$base-font-size: 1rem;

.product-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(62, 58%, 89%);
    overflow-y: scroll;
    padding: .625rem;

    .product-list {
        display: grid;
        gap: 1.25rem;
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
        justify-content: center;
        align-items: center;
        flex: 3;
        margin-bottom: 1.25rem;

        .product-card {
            text-align: left;
            border-radius: 0.5rem;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1rem;
            line-height: 1.3;

            box-sizing: border-box;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;

            img {
                border-radius: .625rem;
                outline: none;

                &.red-border {
                    outline: .1875rem solid $base-color-red;
                }
            }

            .price {
                color: hsl(14, 86%, 42%);
                font-weight: 500;
            }

            .category {
                font-size: .875rem;
                color: hsl(14, 25%, 72%);
            }

            .name {
                font-weight: 500;
                color: hsl(12, 20%, 44%);
            }


        }

        .add-card-button {
            position: relative;
            bottom: 1.25rem;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 1rem;

            // Add to Cart button styles
            .add-to-cart {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                color: #d04227;
                border: 2px solid #d04227;
                border-radius: 3.125rem;
                padding: .375rem 1rem;
                font-size: 1rem;
                font-weight: bold;
                // cursor: pointer;
                transition: all 0.3s ease;
                width: 10rem;

                .icon {
                    margin-right: 8px;
                }

                &:hover {
                    background-color: #d04227;
                    color: #fff;
                }
            }

            // Quantity control styles
            .quantity-control {
                display: flex;
                align-items: center;
                background-color: #d04227;
                border-radius: 1.25rem;
                padding: .5rem .625rem;
                gap: .5rem;

                .quantity-button {
                    background-color: transparent;
                    color: #fff;
                    border: none;
                    font-size: 1.125rem;
                    font-weight: bold;
                    // cursor: pointer;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 1.25rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    // &:hover {
                    //     background-color: rgba(255, 255, 255, 0.2);
                    // }
                }


                .quantity {
                    color: #fff;
                    font-weight: bold;
                    width: 1.5rem;
                    text-align: center;
                }
            }

        }
    }





    .cart-container {
        margin: 0 1rem;
        background-color: white;
        border-radius: 0.5rem;
        text-align: left;
        padding: 1.25rem;
        max-height: max-content;
        flex: 1;
        color: $base-color-rose-300;
        font-size: $base-font-size;

        .empty-cart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                max-width: 6.25rem;
                margin: .625rem auto;
            }
        }

        .cart-title {
            color: #d04227;
            font-size: 1.375rem;
            font-weight: 700;
            margin-bottom: .625rem;
        }

        .cart-item-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid hsl(13, 19%, 91%);
            padding: .625rem 0;

            .cart-item {
                font-size: .875rem;

                .cart-item-title {
                    font-weight: 500;
                    color: hsl(11, 22%, 20%);
                    margin-bottom: .5rem;
                }

                .cart-item-price {
                    color: hsl(13, 24%, 67%);
                }

                span:first-child {
                    color: #d04227;
                    font-weight: 500;
                }

                span:last-child {
                    color: hsl(12, 20%, 44%);
                }
            }

            .delete {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.5rem;
                height: 1.5rem;
                padding: 0;
                border-radius: .75rem;
                border: 1px solid hsl(13, 24%, 67%);
                background-color: transparent;
                height: 1;

                &:hover {
                    border: none;
                }
            }
        }

        .total-price-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.25rem 0;

            .price {
                font-size: 1.625rem;
                font-weight: 500;
            }
        }

        .tip-container {
            display: flex;
            align-items: center;
            background-color: hsl(0, 3%, 93%);
            padding: .625rem 1rem;
            font-size: .875rem;
            text-align: center;
            border-radius: .375rem;
        }

        .comfirm-order {
            border-radius: 1.25rem;
            background-color: #d04227;
            padding: .375rem 1rem;
            margin: 1rem auto;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 18.75rem;
        }

        .total-price-container {
            color: hsl(14, 65%, 9%);

            .price {
                font-weight: 900;
                font: size 1.75rem;
            }
        }
    }

    @media screen and (min-width:768px) {
        flex-direction: row;

        .product-list {
            grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
        }
    }


}